body {
    font-family: Cabin;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo-header {
    background-color: #10BBD5;
    padding-top: 16px;
    padding-bottom: 16px;
}

.wrapper {
    max-width: 1325px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

/* top left logo */

.logo {
    display: flex;
    align-items: center;
}

.logo-book {
    color: #F8FDFE;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    margin-left: 4px;
}

/* top right cart */

.cart {
    display: flex;
    align-items: center;
}

.price-cart {
    color: #F8FDFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 8px;
}

.cart-icon {
    width: 40px;
    height: 40px;
    text-decoration: none;
    position: relative;
}

.cart-icon-1 {
    margin: 0px 3px;
}

.cart-icon-2 {
    margin: 0px 0px 3px 11px;
}

.cart-icon-3 {
    margin: 0px 2px 3px 0px;
}

.cart-icon-0 {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    position: absolute;
    top: 9px;
    right: 8px;
    bottom: 18px;
    left: 19px;
}

/* shop menu header */

.menu-header {
    background-color: #FFF;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.item {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    
}

.main {
    background-color: #EEEEEF;
    padding-bottom: 120px;
}

/* headering and books */

.content {
    display: flex;
    border-bottom: 1px solid #A8A8A8;
    width: 1325px;
}

.headering {
    color: #1F1F1F;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-top: 32px;
    margin-bottom: 23px;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 242px 448px;
    gap: 26px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.card-offer {
    width: 242px;
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    background-color: #F8FDFE;
    border: 1px solid #A8A8A8;
    position: relative;
}

.card-hoover {
    width: 242px;
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    background-color: #F8FDFE;
    border: 1px solid #A8A8A8;
    position: relative;
}

.card-atomic {
    width: 242px;
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    background-color: #F8FDFE;
    border: 1px solid #A8A8A8;
    position: relative;
}

.card-spare {
    width: 242px;
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    background-color: #F8FDFE;
    border: 1px solid #A8A8A8;
    position: relative;
}

.card-digital {
    width: 242px;
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    background-color: #F8FDFE;
    border: 1px solid #A8A8A8;
    position: relative;
}

.card-marcus {
    width: 242px;
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    background-color: #F8FDFE;
    border: 1px solid #A8A8A8;
    position: relative;
}

.card-stoics {
    width: 242px;
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    background-color: #F8FDFE;
    border: 1px solid #A8A8A8;
    position: relative;
}

.card-dopamine{
    width: 242px;
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    background-color: #F8FDFE;
    border: 1px solid #A8A8A8;
    position: relative;
}

/* category books */

.hit-offer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #4200FF;
    width: 36px;
    height: 32px;

    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 34px;
}

.new-hoover {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #AF39E7;
    width: 47px;
    height: 32px;

    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 34px;
}

.hit-atomic {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #4200FF;
    width: 36px;
    height: 32px;

    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 34px;
}

/* sale books */

.off-atomic {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #EA33C0;
    width: 70px;
    height: 32px;

    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 72px;
}

.off-digital {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #EA33C0;
    width: 70px;
    height: 32px;

    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 83px;
}
 
.off-stoics{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: #EA33C0;
    width: 70px;
    height: 32px;

    color: #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    position: absolute;
    top: 34px;
    right: 246px;
    bottom: 452px;
    left: 32px;
}

/* description books */

.card {
    width: 242px;
    display: flex;
    flex-direction: column;
    padding: 34px 34px;
    background-color: #F8FDFE;
    border: 1px solid #A8A8A8;
}

.img-card {
    width: 178px;
    margin: 0px 32px;
}

.title-card {
    overflow: hidden;
    color: #1F1F1F;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;
    margin-top: 16px;
    border-bottom: 1px solid #A8A8A8;
    width: 242px;
}

.description-card {
    overflow: hidden;
    color:#8E8E8E;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.price-card {
    color: #E90000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-decoration: none; 
    margin-top: 8px;
}

.sale {
    color:#8E8E8E;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-decoration: line-through;
    margin-left: 24px;
}

.button-card {
    color:#F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: #4C394E;
    border: none;
    width: 242px;
    height: 40px;
    margin-top: 16px;
    border-radius: 4px;
}

.button-card-end {
    color:#F8FDFE;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: #4D762D;
    border: none;
    width: 242px;
    height: 40px;
    margin-top: 16px;
    border-radius: 4px;
}

.footer {
    background-color: #4C394E;
}

.copyright {
    margin: 32px 0px 32px 0px;
    color:#F8FDFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.reserved {
    margin: 32px 0px 32px 0px;
    color: #F8FDFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.chat {
    position: relative;
    position: fixed;
    top: 705px;
    right: 40px;
    bottom: 1272px;
    left: 1574px;
}